parameters:
    level: 7
    paths:
        - src
        - config
        - database
        - routes
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '~expects view-string\|null, string given~'
            path: src/AlumkitServiceProvider.php
